* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}


/* стили для header */

header {
    height: 75px;
    background-color: #222222;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.logo,
.menu_personal_cart {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.logo_header_link {
    padding-right: 41px;
    height: 41px;
}

.search_header_link {
    height: 27px;
}

.burger_menu,
.personal {
    margin-right: 33px;
}


/* .menu_personal_cart::not(:last-child) {
margin-right: 33px;
} */

.burger_menu {
    background-color: #222222;
    border: none;
    padding: 0px;
}

.burger_menu:hover {
    cursor: pointer;
}

.intro {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}


/* стили для главной страницы, заголовок с картинкой */

.intro_wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.intro_background_img {
    background-image: url(img/img_main.png);
    background-repeat: no-repeat;
    background-position: left;
    min-height: 764px;
}

.text_intro {
    margin-top: 290px;
    width: 50%;
    display: flex;
    padding-left: 64px;
}

.baton_intro {
    align-self: center;
    justify-self: center;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    margin-right: 16px;
}

.big_text_intro {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.middle_text_intro {
    display: flex;
    align-items: flex-end;
}

.middle_black_text_intro {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.middle_pink_text_intro {
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #F16D7F;
}


/* блок с примерами, что продают. Главная страница */

.boxes_up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.box_for_women,
.box_for_men,
.box_for_kids,
.box_accesoires {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.box_for_women,
.box_for_men {
    margin-right: 30px;
}

.text_box {
    position: absolute;
    text-align: center;
    left: 103px;
    right: 103px;
    top: 105px;
}

.text_box_a {
    position: absolute;
    text-align: center;
    left: 103px;
    right: 103px;
    top: 65px;
}

.link_box_for_women,
.link_box_for_men,
.link_box_accesoires,
.link_box_for_kids {
    text-decoration: none;
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
}

.box_accesoires {
    margin-bottom: 96px;
}


/* блок с примерами из каталога, */

.products_heading_center {
    text-align: center;
    margin-bottom: 6px;
}

.products_heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.products_text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}


/*стили для карточек каталога*/

.card_heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.card_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    margin-bottom: 18px;
}

.price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}


/*позиционирование карточек товара на главной странице и в каталоге*/

.product_cards_1line {
    display: flex;
    margin-bottom: 30px;
}

.product_cards_2line {
    display: flex;
    margin-bottom: 48px;
}

.product_cards_3line {
    display: flex;
    margin-bottom: 48px;
}


/*снова стили карточек*/

.product_card {
    width: 360px;
    background: #F8F8F8;
}

.product_cards_margin {
    margin-right: 30px;
}

.product_card_text {
    margin-left: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
}


/*кнопка ссылка на каталог*/

.button {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.button_browse_all_product {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    padding: 14px 38px;
}


/*начало стилей футера*/


/*сервисы*/

.services_background {
    background-color: #222224;
    margin-top: 96px;
}

.services {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 103px 0 103px 0;
}

.services_heading {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.services_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}


/*отзыв, форма подписки*/

.feedback_subscribe_background {
    background-image: url(img/feedback_subscribe.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 380px;
    display: flex;
    align-items: center;
}

.feedback_subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feedback {
    margin-top: 86px;
}

.feedback_center {
    text-align: center;
}

.text_feedback {
    margin-top: 30px;
    text-align: center;
}

.form_subscribe {
    display: flex;
    align-self: center;
    /* margin-top: 150px; */
}

.subscribe_text {
    text-align: center;
}

.subscribe_heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
    color: #222224;
}

.subscribe_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 40px */
    color: #222224;
    margin-bottom: 32px;
}

.subscribe {
    display: flex;
    align-items: center;
}

.mail {
    border: none;
    background-color: #E1E1E1;
    padding: 17px 64px 16px 25px;
    border: none;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.subscribe_input {
    background-color: #F16D7F;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 17px 25px;
}


/*подвальный подвал: копирайт и ссылки на соцсети*/

.copyright_networks {
    background-color: #222224;
    height: 79px;
}

.copyright_networks_flex {
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 30px;
}


/* .networks:not(:last-child) {
margin-right: 7px;
} */

.network_facebook,
.network_instagram,
.network_pinterest,
.network_twitter {
    background-color: #FFFFFF;
    color: #000000;
}

.network_facebook:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.network_instagram:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.network_pinterest:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.network_twitter:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.networks {
    margin-top: 24px;
}

.network_facebook {
    padding: 8px 11px;
    margin-right: 7px;
}

.network_instagram {
    padding: 8px;
    margin-right: 7px;
}

.network_pinterest {
    padding: 8px 9px;
    margin-right: 7px;
}

.network_twitter {
    padding: 8px;
}


/*конец стилей футера*/


/*страница каталога, навигация*/

.pink_background {
    background-color: #F8F3F4;
}

.nav_flex {
    display: flex;
    justify-content: space-between;
}

.new_arrivas_heading {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #F16D7F;
}

.crumbs {
    margin-top: 65px;
    margin-bottom: 65px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #636363;
}

.home_link,
.men_link,
.new_arivals_link {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #636363;
    text-decoration: none;
}

.new_arivals_link {
    color: #F26376;
}


/*попытки сделать выпадающее меню фильтра*/

.filter_flex {
    display: flex;
    margin-bottom: 64px;
    margin-top: 51px;
}

.details_filter {
    position: absolute;
    width: 360px;
    height: 531px;
}

.filter {
    display: flex;
    margin-right: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    padding: 13px 16px;
    background-color: #ffffff;
}

.summary_filter:hover {
    color: #EF5B70;
}

.img_filter {
    margin-left: 11px;
    margin-right: 304px;
}

summary::marker {
    display: none;
}

.summary_filter {
    display: flex;
}

.designer_details,
.brand_details,
.category_details {
    background-color: #FFFFFF;
}

.category_list {
    background-color: #FFFFFF;
    list-style-type: none;
    margin-left: 20px;
}


/*фильтры по размерам и прочая. Страница каталога*/

.trending_size_price {
    display: flex;
    margin-left: 390px;
}

.trending_size_price_img {
    margin-left: 10px;
}

.trending {
    margin-right: 28px;
}

.size {
    margin-right: 28px;
}


/*блок с нумерацией страниц для перехода на нужную со страницы каталога*/

.pages_center {
    display: flex;
    justify-content: center;
}

.pages {
    display: flex;
    padding: 15px 16px;
    border: 1px solid #EBEBEB;
}

.arrow_left {
    margin-right: 18px;
}

.arrow_right {
    margin-left: 18px;
}

.page,
.page_1,
.page_others,
.page_20 {
    color: #E5E5E5;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.page_1 {
    color: #EF5B70;
}

.page {
    padding-left: 18px;
}


/*страница продукта*/


/*стрелки слайдера*/

.slider_background_flex {
    background-color: #F7F7F7;
    height: 777px;
    display: flex;
    justify-content: space-between;
}

.slider_arrow_left,
.slider_arrow_right {
    background-color: rgba(42, 42, 42, 0.15);
    padding: 13px 17px;
    align-self: center;
}


/*картинка каталога для страницы продукта*/

.slider {
    margin-top: 11px;
    justify-self: center;
    width: 100%;
}


/*описание продукта*/

.product_discription_box {
    display: flex;
    justify-content: center;
    height: 601px;
    width: 100%;
    background-color: #fff;
    margin-top: -65px;
    border: 1px solid #EAEAEA;
}

.product_discription {
    padding-top: 65px;
    text-align: center;
}

.women_collection_link {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-decoration: none;
    margin-bottom: 12px;
}

.slash {
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
    margin-bottom: 12px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
}


}
.product_name {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.product_discription_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-top: 49px;
    margin-bottom: 32px;
}
.product_discription_center {
    width: 641px;
}
.product_price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-bottom: 65px;
}
.product_hr {
    border: none;
    color: #EAEAEA;
    height: 1px;
    background-color: #EAEAEA;
}
